# Supabase
SUPABASE_URL=https://jopxbgesybjqteziskgl.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcHhiZ2VzeWJqcXRlemlza2dsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU4MzE4OSwiZXhwIjoyMDk2MTU5MTg5fQ.JTtlwW-f7aPO_AGrDb03FVAYHQ1iKaLkWuj6F4wLjs8
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvcHhiZ2VzeWJqcXRlemlza2dsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1ODMxODksImV4cCI6MjA5NjE1OTE4OX0.VKrUVd-rjJrTJyDhtwiXDzKMVqvC2Co2LjqXDUnoIHY

# Server
PORT=3000
NODE_ENV=development

# Gemini API Integration (Sprint BE-5.0)
GEMINI_API_KEY=
